

@font-face {
    font-family: 'win95';
    src: url('../fonts/W95FA.otf');
}


body {
    margin: 0;
    font-family: 'win95', Tahoma, sans-serif;
    background-color: #008080;
    overflow: hidden;
    cursor: url("../img/cursor.cur"), auto
}
a, button, input[type="button"], input[type="submit"] {
    cursor: url('../img/cursor.cur'), auto;
}

.desktop {
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
}


.desktop-icon {
    position: absolute;
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: 'win95', sans-serif;
    width: 100px;
    box-sizing: border-box;
}


.desktop-icon img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}

.desktop-icon span {
    display: block;
    margin-top: 5px;
}

.taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #C0C0C0;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #808080;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1000;
}

.start-button {
    background-color: #C0C0C0;
    border: 2px solid #808080;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    box-shadow: inset 1px 1px #FFFFFF, inset -1px -1px #000000;
    font-family: 'win95', sans-serif;
}
.start-button.pressed {
    background-color: #A0A0A0;
    box-shadow: inset 1px 1px #000000, inset -1px -1px #FFFFFF;
    transform: translateY(2px);
}

.start-button img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.start-menu {
    position: fixed;
    bottom: 40px;
    left: 10px;
    width: 200px;
    background-color: #C0C0C0;
    border: 2px solid #000000;
    display: none;
    z-index: 1000;

    overflow: hidden;
}

.start-menu-header {
    background-color: #808080;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 20px;
    height: 260px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 16px;

    float: left;
    margin-right: 10px;
}
.start-menu-divider {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0;
    width: calc(100% - 40px);
    box-sizing: border-box;
    transform: translateX(-2%);

}

.start-menu-content {

    margin-left: 30px;
}

.bold {
    color: #646464;
    font-weight: 900;
}

.start-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.start-menu-items li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.start-menu-items li.shutdown {
    margin-top: auto;
}

.start-menu-items li:hover {
    background-color: #08147c;
    color: white;
}

.start-menu-items li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.taskbar-items {
    display: flex;
    flex-grow: 1;
    align-items: left;
    gap: 5px;
    transform: translateX(1%);
}

.taskbar-item {
    background-color: #C0C0C0;
    border: 2px solid #808080;
    padding: 2px 10px;
    margin: 0 2px;
    cursor: pointer;
    font-family: 'win95', sans-serif;
    white-space: nowrap;
}

.taskbar-item.active {
    background-color: #A0A0A0;
    border-color: #000000;
}

.taskbar-item img {
    vertical-align: middle;
    margin-right: 5px;
}

.taskbar-clock {
    font-weight: bold;
    padding: 4px 8px;
    background-color: #e0e0e0;
    border: 1px solid #7f7f7f;
    box-shadow: 1px 1px 0px #fff, -1px -1px 0px #000;
    cursor: pointer;
    border-radius: 2px;
    font-family: 'win95', sans-serif;
    cursor: pointer;
}
.taskbar-clock img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
}
.taskbar-clock:hover {
    background-color: #d0d0d0;
}

.window {
    position: absolute; 
    top: 20%;
    left: 20%;
    width: 300px;
    background-color: #C0C0C0;
    border: 2px solid #808080;
    box-shadow: 4px 4px #000000;
    box-sizing: border-box;
}

.window-header {
    background-color: #000080;
    color: #FFFFFF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFFFFF;
    box-sizing: border-box;
    cursor: pointer;
}

.window-title {
    font-weight: bold;
}

.window-controls {
    display: flex;

}

.window-btn {
    background-color: #C0C0C0;
    border: none;
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
}

.window-btn:hover {
    background-color: #FFFFFF;
}

.window-body {
    padding: 10px;
    border-top: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #808080;
    border-bottom: 2px solid #808080;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.window.maximized {
    width: 100%;
    height: calc(100vh - 40px);
    top: 0;
    left: 0;
}
